/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #585a61;
  }
  
  a {
    color: #5777ba;
    text-decoration: none;
  }
  
  a:hover {
    color: #7b94c9;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f2f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 15px 0;
    background-color: #f6f8fb;
    min-height: 40px;
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /*--------------------------------------------------------------
  # App Features
  --------------------------------------------------------------*/
  .features .content {
    padding: 30px 0;
  }
  
  .features .content .icon-box {
    margin-top: 25px;
  }
  
  .features .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
  }
  
  .features .content .icon-box i {
    font-size: 48px;
    float: left;
    color: #5777ba;
  }
  
  .features .content .icon-box p {
    font-size: 15px;
    color: #979aa1;
    margin-left: 60px;
  }
  
  @media (max-width: 991px) {
    .features .image {
      text-align: center;
    }
  
    .features .image img {
      max-width: 80%;
    }
  }
  
  @media (max-width: 667px) {
    .features .image img {
      max-width: 100%;
    }
  }
  
  /*--------------------------------------------------------------
  # Details
  --------------------------------------------------------------*/
  .details .content+.content {
    margin-top: 100px;
  }
  
  .details .content h3 {
    font-weight: 700;
    font-size: 32px;
    color: #47536e;
  }
  
  .details .content ul {
    list-style: none;
    padding: 0;
  }
  
  .details .content ul li {
    padding-bottom: 10px;
  }
  
  .details .content ul i {
    font-size: 24px;
    padding-right: 2px;
    color: #5777ba;
    line-height: 0;
  }
  
  .details .content p:last-child {
    margin-bottom: 0;
  }